# Midea AC
MIDEA_ACCOUNT=your_phone_number
MIDEA_PASSWORD=your_password
MIDEA_APP=MSmartHome
MIDEA_CONTROL_MODE=auto

# Sony TV (example)
# SONY_TV_HOST=192.168.0.xxx
# SONY_TV_PSK=your_pre_shared_key
